body {
  font-family: Georgia, Arial, Verdana, sans-serif;
}

header {
  margin-top: 1%;
}

#home {
  margin-bottom: 1%;
 }

.post-duration {
  margin-top: 3%;
  line-height: 1.8em;
}
.post-duration h4 {
  line-height: 1.8em;
}
.post-steps {
  line-height: 100px;
}
.create-btn {
  background: #333333 !important;
  color: #ffcb33;
  border-color: transparent !important;
}
.create-btn,
.review-btn {
  margin-right: 5%;
}
.preview-btn, .submit-btn {
  background: #333333;
  border-color: transparent;
  color: #ffcb33;
}
.preview-btn:hover {
  background: #333333;
}
#jobPosting,
#companyInfo {
  color: orangered;
}

.error {
  color: red;
  font-size: 12px;
}

#myModalLabel{
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

span.spacing {
  margin-left: 50px;
}

.section-title {
  color: orangered;
}

.bold {
  font-weight: bold;
}
