<div class="container">

  <!--Header-->
  <header>

    <div id="home"><a href="#/">Home</a></div>

    <div class="row banner">
      <div class="col-xs-6">
        <img src="//placehold.it/350x100/4d4d4d/ffcb33&text=Software+Engineering+Jobs" alt="Software Engineering Jobs"/>
      </div>
      <div class="col-xs-6 post-steps">
        <button class="btn btn-primary create-btn" disabled="disabled">1. Create your Ad</button>
        <button class="btn btn-default review-btn" disabled="disabled">2. Review</button>
        <button class="btn btn-default review-btn" disabled="disabled">3. Publish</button>
      </div>
    </div>

    <section class="post-duration">
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id
        sollicitudin urna fermentum ut fusce luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula
        ut.
      </h4>
    </section>
  </header>



  <!--Job Post Form-->
  <form class="form-horizontal" role="form" name="jobPostingForm"  ng-submit="postAJob()" novalidate>

    <div class="row">
      <div class="col-xs-12 section-title"><h3>Post Your Job</h3></div>
    </div>


    <!--Job Title-->
    <div class="form-group">
      <label for="jobTitle" class="col-xs-2 control-label">Job Title</label>

      <div class="col-xs-6">
        <input type="text"
               class="form-control"
               id="jobTitle"
               name="jobTitle"
               ng-model="job.jobTitle"
               ng-minlength="2"
               ng-maxlength="40"
               placeholder="Job Title"
               ng-required="true" />
      </div>
    </div>

        <div class="error form-group" ng-show="jobPostingForm.jobTitle.$touched && jobPostingForm.jobTitle.$invalid">
          <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.jobTitle.$error.required">Job title is a required field, please enter a valid job title. </div>
          <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.jobTitle.$error.minlength">Your job title should have a minimum of 2 characters. </div>
          <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.jobTitle.$error.maxlength">Your job title should have a maximum of 40 characters.</div>
        </div>



    <!--Category-->
    <div class="form-group">
      <div><label class="col-xs-2 control-label">Category</label></div>

      <div class="radio col-xs-10">
          <label>
          <input type="radio"
                 id="jobCategory"
                 ng-repeat-start="category in jobCategories"
                 name="jobCategory"
                 value="{{ category.txt }}"
                 ng-model="job.jobCategory"
                 ng-required="true" />
            <div ng-repeat-end="">{{ category.txt }}</div>
          </label>
      </div>
    </div>

    <div class="error form-group" ng-show="jobPostingForm.jobCategory.$untouched && jobForm.$submitted">
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.jobCategory.$error.required">Job category is a required field, please enter a job category. </div>
    </div>



    <!--Job Description-->
    <div class="form-group">
      <label for="jobDescription" class="col-xs-2 control-label">Job Description</label>

      <div class="col-xs-8">
        <textarea class="form-control"
                  rows="8"
                  id="jobDescription"
                  name="jobDescription"
                  ng-model="job.jobDescription"
                  ng-minlength="2"
                  ng-maxlength="400"
                  ng-required="true">
        </textarea>
      </div>
    </div>

    <div class="error form-group" ng-show="jobPostingForm.jobDescription.$touched && jobForm.jobDescription.$invalid">
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.jobDescription.$error.required">Job description is a required field, please enter a valid job description. </div>
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.jobDescription.$error.minlength">Your job description should have a minimum of 2 characters. </div>
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.jobDescription.$error.maxlength">Your job description should have a maximum of 400 characters.</div>
    </div>



    <!-- Hr Email-->
    <div class="form-group">
      <label for="hrEmail" class="col-xs-2 control-label">Send Resume to</label>

      <div class="col-xs-6">
        <input type="email"
               class="form-control"
               id="hrEmail"
               name="hrEmail"
               ng-model="job.hrEmail"
               placeholder="Email address"
               ng-minlength="2"
               ng-maxlength="30"
               ng-required ="true" />
      </div>
    </div>

    <div class="error form-group" ng-show="jobPostingForm.hrEmail.$touched && jobPostingForm.hrEmail.$invalid">
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.hrEmail.$error.required">Email address is a required field, please enter a valid email. </div>
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.hrEmail.$error.minlength">Email address should have a minimum of 2 characters. </div>
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.hrEmail.$error.maxlength">Email address should have a maximum of 30 characters.</div>
    </div>



    <!-- Company Name -->
    <div class="form-group">
      <label for="companyName" class="col-xs-2 control-label">Company Name</label>

      <div class="col-xs-6">
        <input type="text"
               class="form-control"
               id="companyName"
               name="companyName"
               ng-model="job.companyName"
               ng-minlength="2"
               ng-maxlength="30"
               placeholder="Company Name"
               ng-required="true" />
      </div>
    </div>

    <div class="error form-group" ng-show="jobPostingForm.companyName.$touched && jobPostingForm.companyName.$invalid">
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.companyName.$error.required">Company name is a required field, please enter your company name. </div>
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.companyName.$error.minlength">Your company name should have a minimum of 2 characters. </div>
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.companyName.$error.maxlength">Your company name should have a maximum of 50 characters.</div>
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.companyName.$error.pattern">Your company name should consist of alpha-numeric characters. </div>
    </div>



    <!-- City -->
    <div class="form-group">
      <label for="city" class="col-xs-2 control-label">City</label>

      <div class="col-xs-6">
        <input type="text"
               class="form-control"
               id="city"
               name="city"
               ng-model="job.city"
               ng-minlength="2"
               ng-maxlength="30"
               placeholder="City"
               ng-required="true" />
      </div>
    </div>

    <div class="error form-group" ng-show="jobPostingForm.city.$touched && jobPostingForm.city.$invalid">
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.city.$error.required">City is a required field, please enter your the name of your city. </div>
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.city.$error.minlength">Your city name should have a minimum of 2 characters. </div>
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.city.$error.maxlength">Your city name should have a maximum of 30 characters.</div>
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.city.$error.pattern">Your city name should consist of alpha-numeric characters. </div>
    </div>



    <!-- State -->
    <div class="form-group">
      <label for="state" class="col-xs-2 control-label">State</label>

      <div class="col-xs-6">
        <input type="text"
               class="form-control"
               id="state"
               name="state"
               ng-model="job.state"
               ng-minlength="2"
               ng-maxlength="20"
               placeholder="State"
               ng-required="true" >
      </div>
    </div>

    <div class="error form-group" ng-show="jobPostingForm.state.$touched && jobPostingForm.state.$invalid">
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.state.$error.required">State is a required field, please enter your the name of your state. </div>
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.state.$error.minlength">Your state name should have a minimum of 2 characters. </div>
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.state.$error.maxlength">Your state name should have a maximum of 30 characters.</div>
      <div class="error col-xs-6 col-xs-offset-2" ng-show="jobPostingForm.state.$error.pattern">Your state name should consist of alpha-numeric characters. </div>
    </div>



    <!--Let user Preview info before submitting form-->
    <!-- Button trigger modal -->
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-primary preview-btn" ng-click="previewJobPost()" data-toggle="modal" data-target="#myModal">Preview</button>
      </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title" id="myModalLabel">Preview Your Job Posting</h3>
          </div>

          <!-- Modal Body -->
          <div class="modal-body">

            <div class="row">
              <div class="col-xs-12 section-title"><h4>Post Your Job</h4></div>
            </div>

            <div class="row">
              <div class="col-xs-3 col-xs-offset-1 bold"><p>Job Title: </p></div>
              <div class="col-xs-8">{{ job.jobTitle }}</div>
            </div>

            <div class="row">
              <div class="col-xs-3 col-xs-offset-1 bold"><p>Category: </p></div>
              <div class="col-xs-8">{{ job.jobCategory }}</div>
            </div>

            <div class="row">
              <div class="col-xs-3 col-xs-offset-1 bold"><p>Job Description: </p></div>
              <div class="col-xs-8">{{ job.jobDescription }}</div>
            </div>

            <div class="row">
              <div class="col-xs-3 col-xs-offset-1 bold"><p>Send Resume to: </p></div>
              <div class="col-xs-8">{{ job.hrEmail }}</div>
            </div>

            <div class="row">
              <div class="col-xs-3 col-xs-offset-1 bold"><p>Company Name: </p></div>
              <div class="col-xs-8">{{ job.companyName }}</div>
            </div>

            <div class="row">
              <div class="col-xs-3 col-xs-offset-1 bold"><p>City</p></div>
              <div class="col-xs-8">{{ job.city }}</div>
            </div>

            <div class="row">
              <div class="col-xs-3 col-xs-offset-1 bold"><p>State</p></div>
              <div class="col-xs-8">{{ job.state }}</div>
            </div>


          <!-- Submit Form button-->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary submit-btn">Submit</button>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>
